Repository fs2-blobstore/fs2-blobstore: changes, and which Codecov flags are due for each by the changed paths.
All: scala, scala-it

Update box-java-sdk to 2.58.0
  box/build.sbt
Due: scala-it

Update scalafmt-core to 3.1.2
  .scalafmt.conf
Due: scala

Update s3 to 2.17.88
  s3/build.sbt
Due: scala

Update sbt-scalafix to 0.9.33
  project/plugins.sbt
Due: scala

Update cats-core to 2.7.0
  url/build.sbt
Due: scala

Update s3 to 2.17.93
  s3/build.sbt
Due: scala

Update fs2-core, fs2-io, ... to 3.2.3
  azure/build.sbt
  core/build.sbt
  s3/build.sbt
Due: scala

Update jsch to 0.1.71
  sftp/build.sbt
Due: scala

Update google-cloud-nio to 0.123.17
  gcs/build.sbt
Due: scala

Update google-cloud-storage to 2.2.2
  gcs/build.sbt
Due: scala

Update s3 to 2.17.97
  s3/build.sbt
Due: scala

Update sbt to 1.5.7
  project/build.properties
Due: scala

Update s3 to 2.17.100
  s3/build.sbt
Due: scala

Update jsch to 0.1.72
  sftp/build.sbt
Due: scala

Update sbt to 1.5.8
  project/build.properties
Due: scala

Update s3 to 2.17.102
  s3/build.sbt
Due: scala

Update fs2-core, fs2-io, ... to 3.2.4
  azure/build.sbt
  core/build.sbt
  s3/build.sbt
Due: scala

update sbt and plugins
  .scalafmt.conf
  project/build.properties
  project/plugins.sbt
Due: scala

update dependencies
  .github/workflows/ci.yml
  azure/build.sbt
  box/build.sbt
  build.sbt
  core/build.sbt
  gcs/build.sbt
  s3/build.sbt
  sftp/build.sbt
  url/build.sbt
  url/src/test/scala/blobstore/url/HostnameTest.scala
Due: scala, scala-it

Dependency updates (#582)
  .github/workflows/ci.yml
  .scalafmt.conf
  azure/build.sbt
  box/build.sbt
  build.sbt
  core/build.sbt
  gcs/build.sbt
  project/build.properties
  project/plugins.sbt
  s3/build.sbt
  sftp/build.sbt
  url/build.sbt
  url/src/test/scala/blobstore/url/HostnameTest.scala
Due: scala, scala-it

update dependencies
  .github/workflows/ci.yml
  .scalafmt.conf
  azure/build.sbt
  box/build.sbt
  build.sbt
  gcs/build.sbt
  project/build.properties
  project/plugins.sbt
  s3/build.sbt
  sftp/build.sbt
  url/build.sbt
  url/src/test/scala/blobstore/url/HostnameTest.scala
Due: scala, scala-it

Update scalafmt-core to 3.3.1
  .scalafmt.conf
Due: scala

Reformat with scalafmt 3.3.1
  integration-tests/src/test/scala/blobstore/url/general/StorageClassLookupTest.scala
Due: scala

Update s3 to 2.17.104
  s3/build.sbt
Due: scala

Update s3 to 2.17.104 (#584)
  s3/build.sbt
Due: scala

Update scalafmt-core to 3.3.1 (#583)
  .scalafmt.conf
  integration-tests/src/test/scala/blobstore/url/general/StorageClassLookupTest.scala
Due: scala

refactor: builder interface for BoxStore
  box/src/main/scala/blobstore/box/BoxStore.scala
  box/src/test/scala/blobstore/box/BoxStoreIntegrationTest.scala
Due: scala-it

- feat: provide ability to use native S3 client (via S3 Transfer Manager) to speed-up uploads/downloads - refactor: builder interface for S3Store
  .github/workflows/ci.yml
  s3/build.sbt
  s3/src/main/scala/blobstore/s3/S3MetaInfo.scala
  s3/src/main/scala/blobstore/s3/S3Store.scala
  s3/src/test/scala/blobstore/s3/AbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/ContainerizedAbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreIntegrationTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreS3MockTest.scala
Due: scala

refactor: builder interface for SftpStore
  sftp/src/main/scala/blobstore/sftp/SftpStore.scala
  sftp/src/test/scala/blobstore/sftp/AbstractSftpStoreTest.scala
Due: scala

fix: prefer show interpolator everywhere
  azure/src/main/scala/blobstore/azure/AzureStore.scala
  azure/src/test/scala/blobstore/azure/AzureStoreTest.scala
  box/src/main/scala/blobstore/box/BoxStore.scala
  box/src/test/scala/blobstore/box/BoxStoreIntegrationTest.scala
  core/src/test/scala/blobstore/AbstractStoreTest.scala
  core/src/test/scala/blobstore/fs/FileStoreTest.scala
  gcs/src/test/scala/blobstore/gcs/GcsStoreTest.scala
  s3/src/main/scala/blobstore/s3/S3MetaInfo.scala
  s3/src/main/scala/blobstore/s3/S3Store.scala
  s3/src/test/scala/blobstore/s3/AbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreIntegrationTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreMinioTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreS3MockTest.scala
  sftp/src/main/scala/blobstore/sftp/SftpStore.scala
  sftp/src/test/scala/blobstore/sftp/AbstractSftpStoreTest.scala
  url/src/main/scala/blobstore/url/Host.scala
Due: scala, scala-it

refactor: builder interface for AzureStore
  azure/src/main/scala/blobstore/azure/AzureStore.scala
  azure/src/test/scala/blobstore/azure/AzureStoreTest.scala
Due: scala

drop empty paren
  azure/src/main/scala/blobstore/azure/AzureStore.scala
  box/src/main/scala/blobstore/box/BoxStore.scala
  box/src/test/scala/blobstore/box/BoxStoreIntegrationTest.scala
  gcs/src/main/scala/blobstore/gcs/GcsStore.scala
  gcs/src/test/scala/blobstore/gcs/GcsStoreTest.scala
  s3/src/main/scala/blobstore/s3/S3Store.scala
  s3/src/test/scala/blobstore/s3/ContainerizedAbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreIntegrationTest.scala
  sftp/src/main/scala/blobstore/sftp/SftpStore.scala
  sftp/src/test/scala/blobstore/sftp/AbstractSftpStoreTest.scala
Due: scala, scala-it

refactor: builder interface for GcsStore
  gcs/build.sbt
  gcs/src/main/scala/blobstore/gcs/GcsStore.scala
  gcs/src/test/scala/blobstore/gcs/GcsStoreTest.scala
Due: scala

Provide ability to use native S3 client (via S3 Transfer Manager) to speed-up uploads/downloads (#585)
  .github/workflows/ci.yml
  azure/src/main/scala/blobstore/azure/AzureStore.scala
  azure/src/test/scala/blobstore/azure/AzureStoreTest.scala
  box/src/main/scala/blobstore/box/BoxStore.scala
  box/src/test/scala/blobstore/box/BoxStoreIntegrationTest.scala
  core/src/test/scala/blobstore/AbstractStoreTest.scala
  core/src/test/scala/blobstore/fs/FileStoreTest.scala
  gcs/build.sbt
  gcs/src/main/scala/blobstore/gcs/GcsStore.scala
  gcs/src/test/scala/blobstore/gcs/GcsStoreTest.scala
  s3/build.sbt
  s3/src/main/scala/blobstore/s3/S3MetaInfo.scala
  s3/src/main/scala/blobstore/s3/S3Store.scala
  s3/src/test/scala/blobstore/s3/AbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/ContainerizedAbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreIntegrationTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreS3MockTest.scala
  sftp/src/main/scala/blobstore/sftp/SftpStore.scala
  sftp/src/test/scala/blobstore/sftp/AbstractSftpStoreTest.scala
  url/src/main/scala/blobstore/url/Host.scala
Due: scala, scala-it

backport https://github.com/fs2-blobstore/fs2-blobstore/pull/585
  .github/workflows/ci.yml
  README.md
  azure/src/main/scala/blobstore/azure/AzureStore.scala
  azure/src/test/scala/blobstore/azure/AzureStoreTest.scala
  box/src/main/scala/blobstore/box/BoxStore.scala
  box/src/test/scala/blobstore/box/BoxStoreIntegrationTest.scala
  build.sbt
  core/src/test/scala/blobstore/AbstractStoreTest.scala
  core/src/test/scala/blobstore/PathTest.scala
  core/src/test/scala/blobstore/RotateTest.scala
  core/src/test/scala/blobstore/fs/FileStoreTest.scala
  gcs/build.sbt
  gcs/src/main/scala/blobstore/gcs/GcsStore.scala
  gcs/src/test/scala/blobstore/gcs/GcsStoreTest.scala
  s3/build.sbt
  s3/src/main/scala/blobstore/s3/S3MetaInfo.scala
  s3/src/main/scala/blobstore/s3/S3Store.scala
  s3/src/test/scala/blobstore/s3/AbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/ContainerizedAbstractS3StoreTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreIntegrationTest.scala
  s3/src/test/scala/blobstore/s3/S3StoreS3MockTest.scala
  sftp/src/main/scala/blobstore/sftp/SftpStore.scala
  sftp/src/test/scala/blobstore/sftp/AbstractSftpStoreTest.scala
  url/src/main/scala/blobstore/url/Host.scala
  url/src/test/scala/blobstore/url/AuthorityTest.scala
  url/src/test/scala/blobstore/url/HostTest.scala
  url/src/test/scala/blobstore/url/PathTest.scala
  url/src/test/scala/blobstore/url/UrlTest.scala
  url/src/test/scala/blobstore/url/UserInfoTest.scala
Due: scala, scala-it

Update sbt-scalafix to 0.9.34
  project/plugins.sbt
Due: scala

Update sbt-scoverage to 1.9.3
  project/plugins.sbt
Due: scala

Update s3 to 2.17.110
  s3/build.sbt
Due: scala

Update s3-transfer-manager to 2.17.110-PREVIEW
  s3/build.sbt
Due: scala

Update sbt-scalafix to 0.9.34 (#587)
  project/plugins.sbt
Due: scala

Path conditions:
  scala: any file but: box, **/S3MetaInfo.scala
  scala-it: any of: box, but not: **/S3MetaInfo.scala
